:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ffe15d, #ff6e31);
  --vp-button-brand-border: #ffe15d;
  --vp-button-brand-bg: #f49d1a;
  --vp-button-brand-hover-border: #ffc934;
  --vp-button-brand-hover-bg: #d4830a;
  --vp-c-brand: #ffc400;
  --vp-c-brand-dark: #dab40c;
  --vp-c-brand-darker: #c09509;
  --vp-c-brand-light: #ffd000;
  --vp-c-brand-lighter: #ff9100;
}
